.hidden {
  display: none;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

p {
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-family: sans-serif;
  text-transform: uppercase;
}

input {
  width: 100px;
  margin-bottom: 10px;
}

.color {
  width: 93px;
}
